body
{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.p05{padding: 0.5rem;}
.exp{padding-bottom: 2rem;}
.center{text-align: center;}
.b-black{background-color: black;}
.b-purple{background-color: #5e35b1;}
.b-blue{background-color: #2962ff;}
.b-green{background-color: #1b5e20;}
.b-red{background-color: red;}
.white{color: #FFF;}
.b-white{background-color: white;}

.flex
{
    display: flex;
}
.ai-center
{
    justify-content: center;
}
.phone
{
    height: 640px;
    margin: auto;
}
.frame
{
    display: block;
}
.screen
{
    padding: 4rem 0 4rem 0;
}
.edge
{
    height: 680px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 10px;
    border: 10px solid black;
    border-bottom: 30px solid black;
    padding-bottom: 2rem;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


